/* 
Global attributes begin here 
*/
:root {
    --primary: #7f47af;
    --primary50: rgba(126, 71, 175, 0.5);
    --secondary: #501b7e;
    --light: #e3dce9;
    --dark: #21142c;
    --invis: #ffffff00;
}

* {
    color: var(--dark);
}

body {
    background-color: var(--light);
}

/*
Header starts here
*/
header {
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
    border-bottom: 10px solid var(--primary);
    padding: 16px 0;
}

header * {
    color: var(--light);
}

h1 {
    font-size: 28px;
}

/*
Main starts here
*/
main {
    display: flex;
    flex-direction: row;
}

/*
Search form starts here
*/
.twenty-two {
    width: 22%;
}

aside > * {     /* margins + display parameters */
    margin: 0 4px;
    padding: 10px 0;
    row-gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

input {
    background-color: var(--light);
    padding: 5px;
}

button {
    padding: 5px;
}

form {
    border-bottom: 2px solid var(--primary);
}

/*
Weather and Forecast sections starts here
*/
.sixty-seven {
    width: 67%;
}

h2 {
    padding-top: 4px;
    font-size: 20px;
}

.sixty-seven > * {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sixty-seven > * > *{
    margin: 10px 0;
}

.weather {
    border: 2px solid var(--dark);
    padding: 0 5px;
}

#psuedo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
}

.forecast * {
    margin: 10px 0;
}

.card {
    background-color: var(--primary50);
    padding: 0 5px;
}

.icon {
    width: 28px;
    height: min-content;
    margin: 0;
}